[Unit]
Description=Maps mouse side buttons to 8 and 9
Requires=dev-input-by\x2did-usb-Razer_Razer_DeathAdder_Elite-event-mouse.device
After=dev-input-by\x2did-usb-Razer_Razer_DeathAdder_Elite-event-mouse.device

[Service]
Type=simple
ExecStart=/usr/local/bin/mouse-remap

# Must be root for /dev/input + /dev/uinput
User=root
Group=root

Restart=always
RestartSec=1

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

[Install]
WantedBy=multi-user.target
